.DS_Store

.idea

*.DS_Store
*.log
*tailwind.css
*build
*dist
*node_modules
*coverage
*atlas-dev-configuration.json
yarn.lock
package-lock.json

.eslintcache

# testing
/coverage
/test-results

out-projs
